.project
.dvt
vendor
.spatz_cluster_cfg
work-xrun-runs
.spatz_cluster_suite
work-xrun
xcelium.d
*.shm
*.simv
*.simv.daidir
verdiLog
novas.conf
novas.rc
qrun.out
*bootrom.elf
*/generated/*
*riscv_instr.sv